<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/login" method="post">
    <a >aaaaa</a>
<!--这里的username 和 password 需要和后端统一-->
    <!-- 获取crsf的值，请求的时候作为隐藏数据，获取后端的数据-->
    <input type="hidden" th:value="${_csrf.token}" name="_csrf" th:if="${_csrf}">
        用户名：<input type="text" name="username">
        密码：<input type="text" name="password">
    <br>
        记住我<input type="checkbox" name="remember-me" value="true">
        <input type="submit" value="登录">
</form>
</body>
</html>
